<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatternServlet</servlet-name>
    <servlet-class>com.controller.PatternServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatternServlet</servlet-name>
    <url-pattern>/PatternServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RegistrationFilter</filter-name>
    <filter-class>com.filter.RegistrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistrationFilter</filter-name>
    <url-pattern>/FilterRegistrationServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>com.filter.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/FilterRegistrationServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddProjectServlet</display-name>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>com.controller.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/AddProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProjectServlet</display-name>
    <servlet-name>ListProjectServlet</servlet-name>
    <servlet-class>com.controller.ListProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProjectServlet</servlet-name>
    <url-pattern>/ListProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProjectServlet</display-name>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>com.controller.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/DeleteProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProjectServlet</display-name>
    <servlet-name>SearchProjectServlet</servlet-name>
    <servlet-class>com.controller.SearchProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectServlet</servlet-name>
    <url-pattern>/SearchProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProjectServlet</display-name>
    <servlet-name>EditProjectServlet</servlet-name>
    <servlet-class>com.controller.EditProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProjectServlet</servlet-name>
    <url-pattern>/EditProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProjectServlet</display-name>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <servlet-class>com.controller.UpdateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <url-pattern>/UpdateProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetailsServlet</display-name>
    <servlet-name>EmpDetailsServlet</servlet-name>
    <servlet-class>com.controller.EmpDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetailsServlet</servlet-name>
    <url-pattern>/EmpDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLoginServlet</display-name>
    <servlet-name>SessionLoginServlet</servlet-name>
    <servlet-class>com.controller.SessionLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLoginServlet</servlet-name>
    <url-pattern>/SessionLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLogoutServlet</display-name>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <servlet-class>com.controller.SessionLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <url-pattern>/SessionLogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.listener.UserCounter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleNameServlet</display-name>
    <servlet-name>RoleNameServlet</servlet-name>
    <servlet-class>com.controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleNameServlet</servlet-name>
    <url-pattern>/RoleNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.controller.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigLoginServlet</display-name>
    <servlet-name>ConfigLoginServlet</servlet-name>
    <servlet-class>com.controller.ConfigLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigLoginServlet</servlet-name>
    <url-pattern>/ConfigLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationFormServlet</display-name>
    <servlet-name>RegistrationFormServlet</servlet-name>
    <servlet-class>com.controller.RegistrationFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationFormServlet</servlet-name>
    <url-pattern>/RegistrationFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MainMenuServlet</display-name>
    <servlet-name>MainMenuServlet</servlet-name>
    <servlet-class>com.controller.MainMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenuServlet</servlet-name>
    <url-pattern>/MainMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSignServlet</display-name>
    <servlet-name>LoginSignServlet</servlet-name>
    <servlet-class>com.controller.LoginSignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSignServlet</servlet-name>
    <url-pattern>/LoginSignServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>stag</taglib-uri>
      <taglib-location>/WEB-INF/stag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>ctag</taglib-uri>
      <taglib-location>/WEB-INF/ctag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  
  
 
 
</web-app>